table.table.sortable { 
	border-collapse: collapse;
	width: 100%; 

  td, th { 
    overflow: hidden;
    text-align: left;
    vertical-align: middle;
  }
  th { 
    font-weight: 400;
  }
  th > a.name{
    display: block;
    min-width: 120px;
  }
  th a, td a { 
    display: block;
    width: 100%;
  }
  th a.sort-by { 
    padding-right: 18px;
    position: relative;
  }
  a.sort-by:before,
  a.sort-by:after {
    border: 4px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 5px;
    top: 50%;
    position: absolute;
    width: 0;
  }
  a.sort-by:before {
    border-bottom-color: #585306;
    margin-top: -9px;
  }
  a.sort-by:after {
    border-top-color: #585306;
    margin-top: 1px;
  }
  a.sort-by.active.asc:before {
    border-bottom-color: #585306;
    margin-top: -9px;
  }
  a.sort-by.active.asc:after {
    border-top-color: #fff;
    margin-top: 1px;
  }

  a.sort-by.active.desc:before {
    border-bottom-color: #fff;
    margin-top: -9px;
  }
  a.sort-by.active.desc:after {
    border-top-color: #585306;
    margin-top: 1px;
  }
}
